.purple-iris {
	background-color: #5a72a7;
}

.green-iris {
	background-color: #71998a;
}

.yellow {
	background-color: #e1bd33;
}

.light-green-tree {
	background-color: #b3be91;
}

.dark-green-tree {
	background-color: #38462b;
}
