.header {
	text-align: center;
	align-items: center;
	display: flex;
	width: 100%;
	font-size: 28px;
	/* padding-top: 10px;
	padding-bottom: 10px; */
}

.iris {
	width: 45%;
	background-color: #5a72a7;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.and {
	background-color: #3f5b3d;
	color: white;
	width: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.everly {
	width: 45%;
	background-color: #b3be91;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.purple-iris {
	background-color: #5a72a7;
}

.green-iris {
	background-color: #71998a;
}

.yellow {
	background-color: #e1bd33;
}

.light-green-tree {
	background-color: #b3be91;
}

.dark-green-tree {
	background-color: #38462b;
}
