.homepage-background {
	/* background-color: #b3be91; */
	background-color: #38462b;
	display: flex;
	justify-content: center;
}

.enter-text {
	float: left;
	position: absolute;
	/* left: 0px; */
	top: 300px;
	z-index: 1000;
	background-color: #92ad40;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
}
