.forward-back-button {
	width: 200px;
	display: flex;
	text-align: center;
	align-items: center;
	color: white;
}

.back-button {
	background-color: #ff250b;
	/* width: 200px;
	display: flex;
	text-align: center;
	align-items: center;
	color: white; */
}

.forward-button {
	background-color: #d35520;
}

.button-radius {
	border-radius: 100px;
}

.back-button-text {
	margin-left: 10px;
}

.forward-button-text {
	margin-right: 10px;
}
